body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #604fd7;
    color: #ffffff;
}

h2 {
    text-align: center;
    color: #604FD7;
}

header h1 {
    text-align: center;
    margin: 20px 0;
    color: #ffffff;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    gap: 40px;
}

.column {
    flex: 1;
    background: #ffffff;
    color: #333333;
    border-radius: 8px;
    padding: 20px; /* Ajoute de l'espace à l'intérieur des colonnes */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

textarea {
    width: calc(100% - 20px); /* Réduit la largeur pour respecter le padding */
    padding: 10px; /* Ajoute un padding interne au champ */
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    margin-bottom: 10px; /* Ajoute de l'espace entre les champs */
}

textarea:focus {
    border-color: #0056b3;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
}

button {
    padding: 10px 20px;
    background: #0056b3;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #003d80;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 15px;
}

ul li button {
    margin-top: 5px;
}
